@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background: #ebdfd7;
  --tw-bg-orange: #F96915; 
  --tw-bg-darkBlack: #060606;
}
/* @font-face {
  font-family: 'Aeonik Bold';
  src: url('/public/assets/fonts/AeonikProBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Regular';
  src: url('/public/assets/fonts/AeonikProRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Light';
  src: url('/public/assets/fonts/AeonikProLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
:root {
  --font-AeoniK-Bold: 'Aeonik Bold', sans-serif;
  --font-AeoniK-Regular: 'Aeonik Regular', sans-serif;
  --font-AeoniK-Light: 'Aeonik Light', sans-serif;
} */

body,
p {
  font-family: var(--font-AeoniK-Regular);
  line-height: normal;
}

.login-button {
  color: #fff;
  line-height: normal;
  border-radius: 49px;
  font-family: var(--font-AeoniK-Bold);
  background: var(--tw-bg-orange);
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.sideNav {
  width: 260px;
  transition: width 0.3s ease;
  background-color: #060606;
  padding: 35px 46px 30px 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.sideNav.collapsed {
  width: 80px;
  padding: 35px 15px;
}
.navList li a {
  display: flex;
  align-items: center;
  padding: 13px 26px 13px 16px;
  border-radius: 24px;
  grid-gap: 16px;
  color: #fff;
  font-size: 14px;
}
.navList li {
  margin-bottom: 10px;
}
.navList li.active a {
  background: #fff;
  color: var(--tw-bg-orange);
}
.navList li.active svg path {
  fill: var(--tw-bg-orange);
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

.table-common, .table-normal {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}
.table-normal table {
  background: transparent;
  width: 100%;
  min-width: 800px;
}
.table-normal table thead tr {
  border-bottom: 1px solid #D9CEC6;
}
.table-normal table thead tr th {
font-family: var(--font-AeoniK-Bold);
text-align: left;
}
.table-normal th, .table-normal td {
padding: 16px 18px;
}
.table-common {
  border-radius: 20px;
  background: #FFF;
  padding: 24px 18px 9px;
}
.table-common table {
  width: 100%;
  min-width: 800px;
  background: #ffffff;
}
.table-common table tbody tr:nth-child(even) {
  background: #F5FAFF;
}
.table-common table thead tr th {
  color: #7F7F8A;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  padding: 10px 16px;
}
.table-common table thead tr {
  border-bottom: 1px dashed #D0D0D0;
}
th, td {
  padding: 12px 18px;
  color: #060606;
  white-space: nowrap;
}
.table-common h3 {
  color: #151D48;
  font-family: var(--font-AeoniK-Bold);
  margin-bottom: 10px;
  font-size: 20px;
}
.table-common th, .table-common td {
  padding: 12px 14px;
  font-size: 12px;
}
.table-common tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}
.table-common tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
}
.table-common tr td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}
.overflo-custom::-webkit-scrollbar-track {
  background-color: #ffffff;
  height: 6px;
}
.overflo-custom::-webkit-scrollbar {
  width: 6px;
  background-color: #283c63;
  height: 6px;
}
.overflo-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #283c6355;
  height: 6px;
}
.main-form label {
display: block;
color: #060606; 
font-size: 14px; 
}
.main-form input,
.main-form select,
.main-form textarea {
  margin-top: 5px;
  border-radius: 10px;
  background: #F5F5F5;
  padding: 12px 15px;
  width: 100%;
  color: #6E6E6E;
  font-size: 14px;
}
.state-select .mui-v7duua:hover {
  background-color: transparent;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .sideNav.collapsed .navList li a {
    display: inline-block;
    padding: 10px;
    grid-gap: 0;
  }
}
@media screen and (max-width: 1023px) {
  .sideNav {
    position: fixed;
    left: -110%;
    transition: 0.3s ease;
    top: 54px;
    height: calc(100vh - 54px);
  }
  .sideNav.collapsed ul.navList {
    width: 100%;
    margin: 15px auto 0;
  }
  .sideNav.collapsed {
    width: 300px;
    padding: 20px 20px 20px 20px;
    left: 0;
    z-index: 400;
  }
}
