@tailwind base;
@tailwind components;
@tailwind utilities;

   
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
:root {
  background: #EBDFD7;
}  
body, p {
  font-family: var(--font-AeoniK-Light);
  line-height: normal;
}


.login-button {
  color: #fff;
  line-height: normal;
  border-radius: 49px;
  font-family: var(--font-AeoniK-Bold);
  background: #E65F2B;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}